.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 8px;
}
.formText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 24px;
}
.rentForm {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: auto;
  background-color: var(--white);
}
.inputsWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 24px;
}
