.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--badges);
  border-bottom: 1px solid var(--badges);
  padding: 24px 120px;
  width: 100%;
  max-width: 1440px;
  height: 68px;
}
