.catalogLink {
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background-color: var(--button);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}
