.formBtn {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: var(--button);
  transition: background-color 250ms linear;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  margin: 0 auto;
}
.formBtn:hover {
  background-color: var(--button-hover);
}
