.loadBtn {
  border: 1px solid var(--button);
  color: var(--main);
  transition: border-color 250ms linear;
}
.loadBtn {
  border-color: var(--button-hover);
}
.loadWrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 124px;
}
