.cardContainer {
  display: flex;
  gap: 72px;
  margin-top: 132px;
  margin-bottom: 104px;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  max-width: 488px;
}
.carImg {
  border-radius: 19px;
  max-width: 640px;
  height: 512px;
}
